<div ng-controller="forgotpwd">
<div class="bar bar-header bar-assertive" style="background-color: #eb2135;">
    <h1 class="title">Forgot Password</h1>
    <button class="button icon-left ion-close-circled" ui-sref="signin"></button>
</div><br><br>
<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="Email" ng-model="email" ng-change="myFun()">
  </label>
  <span ng-show="wrong" style="color:red;">Enter the valid email address</span>
</div>

<div class="padding">
  <button ng-click="answer()" class="button button-block button-positive" ng-disabled="myBtn">Submit</button>
</div>
<div class="padding">
  <button ui-sref="signin" class="button button-block button-positive">Cancel</button>
</div>
</div>