<div  ng-controller=" " class="ionic primary-bg-color">
    <div class="bar bar-header bar-balanced header-primary-bg-color">
       <button class="button icon-left ion-android-arrow-back" onclick="window.history.back()" style="background-color: #transparent; border-color: white;color: #34495E;"></button>
        <h1 class="title">History</h1>
    </div><br><br>
    <ion-content style="margin-top: 44px;" overflow-scroll="auto">
        <ion-item class="item-accordion">
            
            <div class="card" ng-repeat=""> 
               
                <label class="item item-input item-floating-label">
                        <span class="input-label">Pickup:</span>
                        <input type="text" id="industry-button" ng-model="" ng-bind="" placeholder="Pickup">
                    </label>
               <label class="item item-input item-floating-label">
                        <span class="input-label">Destination:</span>
                        <input type="text" id="industry-button" ng-model="" ng-bind="" placeholder="Destination">
                    </label>
               <label class="item item-input item-floating-label">
                        <span class="input-label">Date:</span>
                        <input type="text" id="industry-button" ng-model="" ng-bind="" placeholder="Date">
                    </label>
           </div>            
            
        </ion-item>
         </ion-content>
</div>