<div  ng-controller="recscheduledCtrl" >
    
  <div class="bar bar-header bar-balanced " ng-repeat="x in dbValue">
            
            <ion-header-bar style="background-color: #eb2135;">
                <button class="button icon-left ion-android-arrow-back" ui-sref="scheduled" style="background-color: #5773c0; border-color: transparent;color: white;"></button>
      <h1 class="title" style="color:white;">{{x.booktime}}</h1>
    </ion-header-bar>
        </div>
    
    <ion-content style="margin-top: 44px;" overflow-scroll="true" >
	<label class="item item-input item-floating-label" style="background-color:gold;" ng-repeat="x in dbValue">
	<p style="font-family:helvetica,sans-serif;color:white;"><b>Booking ID : {{x.recid}}</b></p>
	
	</label><br/><br/>
        <div class="list" >
		<div class="item" ng-repeat="x in dbValue">
		<img src="img/logo3.png" style="height:60px; width:60px;"></img>
		<p style="font-family:helvetica,sans-serif; "><strong>Driver Name <span style="padding-left:10px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.name}}</span></p>
		</div>
         
            <div class="item" ng-repeat="x in dbValue" >
			
			

                <p style="font-family:helvetica,sans-serif; "><strong>Pickup <span style="padding-left:42px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.pickup}}</span></p>
              <p style="font-family:helvetica,sans-serif;"><strong>Destination <span style="padding-left:13px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.destination}}</span> </p>
              
              <p style="font-family:helvetica,sans-serif;"><strong>Car Model<span style="padding-left:25px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.carmodel}}</span></p>
              <p style="font-family:helvetica,sans-serif;"><strong>Car Number<span style="padding-left:14px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.carnumber}}</span></p>
              <p style="font-family:helvetica,sans-serif;"><strong>Driver HP<span style="padding-left:29px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;"><a  style="text-decoration:none;" href="#" onclick="window.open(document.getElementById('mobilenutemp').value,'_system','location=yes')" >+65 {{x.mobilenumber}}</a></span></p>
			  <input type="hidden" value="tel:+65-{{x.mobilenumber}}" id="mobilenutemp" >
			  <!-- <p style="font-family:helvetica,sans-serif;"><strong>Payment <br/>Method<span style="padding-left:40px;">:</span></strong><span style="padding-left:10px;overflow: hidden; text-overflow: ellipsis; white-space: normal; text-align: justify; text-justify: distribute;">{{x.pymtmethod}}</span></p> -->
			  
            </div>
        </div> <br/><br/>
		
		   <div width="80%" class="list list-inset" style="margin-left:10%;margin-right:10%;">  
				 <button class="button button-full button-positive" ui-sref="support" style="background-color: #5773c0;border-color:white;color;white">
                 Report An Issue
                </button>
				</div>
        
    </ion-content>
</div>